/* tablet media query */

@media only screen and (min-width: 760px) and (max-width: 959px) {
  .quality:after {
    right: 66px;
    z-index: 1;
  }

  .quality-list li {
    text-align: center;
    padding: 0 20px;
  }

  .footer-socials ul li a {
    border: 3px solid #fec63e;
    display: block;
    padding: 6px;
  }

  .footer-socials ul li a img {
    width: 26px;
    height: 26px;
  }

  /* products page */

  .product-item h2 {
    color: #fff;
    top: -150px;
    margin-bottom: -56px;
  }

  .product-icon {
    padding: 41px 0;
  }

  .product-info p {
    font-size: 14px;
    padding: 20px 30px;
    height: 123px;
  }

  .product-info ul li {
    font-size: 14px;
    width: 181px;
    height: 49px;
  }
}

/* smartphone media query */

@media only screen and (max-width: 767px) {
  /* header */

  .header {
    position: relative;
    padding-bottom: 0;
  }

  .header img {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .header-menu {
    text-align: center;
  }

  .header-menu ul li a.active-menu {
    border-color: #fff;
  }

  .header-menu ul li {
    margin: 5px;
  }

  .header-menu ul li a {
    border: 4px solid #000;
    width: 136px;
    display: block;
    float: left;
  }

  .header-menu ul li a:hover {
    border-color: #fff;
  }

  /* introduction */

  .introduction {
    background: url("../img/bg-mobile.jpg") no-repeat center;
    margin-top: 0px;
    padding-top: 40px;
  }

  .introduction h1 {
    font-size: 36px;
  }

  .quality:after {
    display: none;
  }

  .introduction-internal {
    margin-top: 0px;
  }

  /* about */

  .about-mission p {
    font-size: 14px;
    line-height: 20px;
    padding-right: 0px;
  }

  .about-mission ul li {
    font-size: 14px;
    line-height: 25px;
  }

  /* products page */

  .product-item h2 {
    color: #fff;
    top: -100px;
    margin-bottom: -68px;
  }

  .product-icon {
    padding: 41px 0;
  }

  .product-info p {
    font-size: 14px;
    padding: 20px 30px;
    line-height: 20px;
    height: auto;
  }

  .product-info ul li {
    font-size: 14px;
    line-height: 20px;
    padding-top: 14px;
    width: 149px;
    height: 49px;
  }

  .form {
    padding-right: 0px;
  }

  .budget-info ul {
    padding-right: 0px;
  }

  /* contact */

  .contact-form {
    padding-right: 0px;
    margin-bottom: 40px;
  }
  
}
