.portfolio-introduction{
  background: url('../img/bg-portfolio.jpg') no-repeat center;
  background-size: cover;
}

.quote-client {
  padding: 70px 0;
  max-width: 460px;
  margin: 0 auto;
}

.quote-client p {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 25px;
  font-style: italic;
}

.quote-client cite {
  font-weight: bold;
  font-size: 18px;
  float: right;
  font-style: normal;
  margin: 20px 0;
}