.products-introduction{
  background: url('../img/bg-produtos.jpg') no-repeat center;
  background-size: cover;
}

.product-item {
  padding-top: 60px;
}

.product-item h2 {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
  position: relative;
  top: -180px;
  text-align: center;
  color: #fff;
  margin-bottom: -56px;
}

.product-item h2:before, .product-item h2:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 6px auto 8px auto;
}

.product-icon {
  background: #000;
  padding: 70px 0;
}

.product-icon img {
  margin: 0 auto;
}

.product-info {
  background: #000;
}

.product-info p {
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  padding: 30px 40px;
  height: 180px;
}

.product-info ul li {
  background: #fec63e;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 20px;
  float: left;
  width: 229px;
  height: 49px;
  text-align: center;
  padding-top: 16px;
  font-weight: bold;
}

.product-info ul li:nth-child(1), .product-info ul li:nth-child(2) {
  margin-bottom: 1px;
}

.product-info ul li:nth-child(even) {
  margin-left: 2px;
}

/* budget */

.budget {
  background: #000;
  width: 100%;
  margin-top: 60px;
  padding: 40px 0px;
}

.budget h2 {
  color: #fec63e;
}

.budget h2:after {
  background: #fec63e;
}

.form {
  padding-right: 60px;
}

.form label{
  display: block;
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
}

.form input, .form textarea {
  display: block;
  width: 100%;
  border: 4px solid #fec63e;
  background: transparent;
  color: #fff;
  padding: 7px 10px;
  margin-bottom: 20px;
  outline: none;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.form .btn {
  background: none !important;
  padding: 7px 40px !important;
}