/* general */

a {
  color: #000;
}

img {
  display: block;
}

.btn {
  border: 3px solid #fec63e;
  padding: 10px 25px;
  color: #fec63e;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.btn:hover {
  color: #fff;
  border-color: #fff;
}
.btn-black:hover {
  color: #000;
  border-color: #000;
}


.subtitle {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: center;
}

.subtitle:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 8px auto;
}

.call {
  padding-top: 40px;
  clear: both;
  text-align: center;
}

.call p {
  margin-bottom: 20px;
}

/* header */
.body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 20px;
}

.header {
  width: 100%;
  background: #fec63e;
  padding: 15px 0;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-menu {
  text-align: right;
}

.header-menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
}

.header-menu ul li a {
  font: 14px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 20px;
  padding: 10px 0;
}

.header-menu ul li a:hover {
  color: #fff;
}

/* introduction */

.introduction {
  width: 100%;
  background: url("../img/bg.jpg") no-repeat center;
  background-size: cover;
  margin-top: 92px;
  height: 380px;
  text-align: center;
  padding-top: 80px;
}

.introduction h1 {
  font-size: 48px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

.quote-external {
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 40px;
  color: #fff;
}

.quote-external p {
  font-style: italic;
}

.quote-external p:before,
.quote-external p:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 14px auto 10px auto;
}

.quote-external cite {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* products */

.products {
  text-align: center;
  padding: 60px 0;
}

.products-list {
  margin: 40px 0;
}

.product-icon {
  background: #000;
  padding: 20px;
  
}

.product-icon img {
  margin: 0 auto;
}

.products-list h3 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 20px;
  line-height: 25px;
}

.products-list h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 4px auto;
}

.products-list li {
  background: #fec63e;
}

.products-list li p {
  padding: 10px 20px 20px 20px;
}

/* portfolio */

.portfolio {
  width: 100%;
  background: #000;
  padding: 40px 0;
  text-align: center;
}

.portfolio .subtitle {
  color: #fec63e;
}

.portfolio .subtitle:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fec63e;
  margin: 4px auto;
}

.portfolio .call p {
  color: #fff;
}

.portfolio-list li:last-child {
  margin-top: 20px;
}

/* quality */

.quality {
  padding: 60px 0;
}

.quality:after{
  content: "";
  width: 634px;
  height: 83px;
  display: block;
  background: url('./../img/linhas.png') no-repeat center;
  position: absolute;
  top: 209px;
  right: 162px;
  z-index: 1;
}

.quality img {
  margin: 0 auto;
}

.quality-list {
  padding-top: 20px;
}

.quality-list li {
  text-align: center;
  padding: 0 40px;
}

.quality-list h3 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 20px;
  line-height: 25px;
}

.quality-list h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 6px auto;
}

