/* estilização geral do site */

/* header */
.body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  width: 100%;
  background: #fec63e;
  padding: 15px 0;
  position: fixed;
  top: 0;
}

.header-menu {
  text-align: right;  
}

.header-menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
}

.header-menu ul li a {
  font: 14px ;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 20px;
  padding: 10px 0;
}

.header-menu ul li a:hover {
  color: #fff;
}
/* introdução */