/* estilização geral do site */

.btn {
  border: 3px solid #fec63e;
  padding: 10px 25px;
  color:#fec63e;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1em;
}

.btn:hover {
  color: #fff;
  border-color: #fff;
}

/* header */
.body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  line-height: 20px;
}

.header {
  width: 100%;
  background: #fec63e;
  padding: 15px 0;
  position: fixed;
  top: 0;
}

.header-menu {
  text-align: right;  
}

.header-menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
}

.header-menu ul li a {
  font: 14px ;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 20px;
  padding: 10px 0;
}

.header-menu ul li a:hover {
  color: #fff;
}

/* introdução */

.introduction {
  width: 100%;
  background: url("../img/bg.jpg") no-repeat center;
  background-size: cover;
  margin-top: 96px;
  height: 380px;
  text-align: center;
  padding-top: 80px;
}

.introduction h1 {
  font-size: 48px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

.quote-external {
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 40px;
  color: #fff;
}

.quote-external p {
  font-style: italic;
}

.quote-external p:before, .quote-external p:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 14px auto 10px auto;
}

.quote-external cite {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: .1em;
  text-transform: uppercase;
}
